* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 'nav nav nav'
        'heading heading heading'
        'resume-part resume-part resume-part';
}

#nav {
    grid-area: nav;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    padding: 10px;
    background: rgb(0, 0, 0);
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}


.navbar li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.design {
    margin: 2px 0;
    text-align: center;
}

.togglenav {
    display: block;
    background: rgb(0, 0, 0);
}

.togglebutton {
    background: rgb(0, 0, 0);
}

.togglebutton .fa-bars {
    background: black;
    color: white;
    font-size: 30px;
    padding: 10px 0 10px 20px;
}

.toggle-navbar {
    padding: 0 0 10px 0;
    list-style: none;
    justify-content: center;
}

.toggle-navbar li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.toggle-navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#heading {
    grid-area: heading;
}

.heading {
    display: flex;
}

.left img {
    height: 175px;
    width: 150px;
    margin: 15px 0 0 40px;
    border-radius: 15px;
}

.heading .right {
    padding: 15px 25px;
    text-align: justify;
}

.heading .right .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 10px;
}

#resume-part {
    grid-area: resume-part;
}

.resume-part {
    display: grid;
    grid-template-areas:
        'education education education'
        'skills skills skills'
        'softskills softskills softskills'
        'projects projects projects'
        'trainings trainings trainings'
        'certifications certifications certifications'
        'cocurriculars cocurriculars cocurriculars'
        'achievements achievements achievements'
        'hobbies hobbies hobbies'
        'languages languages languages'
        'profiles profiles profiles';
}

.content {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.content div {
    display: none;
    border-radius: 20px;
    margin: 20px 15px 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    padding-bottom: 25px;
    background-color: rgb(0, 0, 0, 0.08);
}

.content h1 {
    background: rgb(0, 255, 225);
    box-shadow: 2.5px 5px 0 rgb(0, 150, 255);
    border-radius: 10px;
    padding: 7px;
    position: sticky;
    margin-top: -20px;
    top: 66.8px;
    cursor: pointer;
}

.text {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px rgb(255, 255, 255);

    background: rgb(98, 255, 98);
    padding: 10px 0;
    border-radius: 100px;
    box-shadow: 0 0 4px rgb(29, 196, 0);
}

#education {
    grid-area: education;
}

.education div {
    display: none;
}

.education h2 {
    padding-top: 30px;
}

.education i {
    padding-right: 10px;
}

#skills {
    grid-area: skills;
}

.skills div {
    display: none;
    padding: 25px 10vw;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 15px;
    grid-column-gap: 4vw;
}

.skills .text {}

#softskills {
    grid-area: softskills;
}

.softskills div {
    display: none;
    padding: 25px 10vw;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 15px;
    grid-column-gap: 4vw;
}

.softskills .text {}

#projects {
    grid-area: projects;
}

.projects div {
    display: none;
}

.projects .domain {
    justify-content: center;
}

#trainings {
    grid-area: trainings;
}

.trainings div {
    display: none;
    padding-top: 25px;
}

.trainings img {
    width: 30vw;
    height: 25vw;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 15px;
}

.trainings a {
    text-decoration: none;
}

.trainings p {
    font-size: 1.5vw;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

#certifications {
    grid-area: certifications;
}

.certifications div {
    display: none;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
}

.certifications .proofs {
    margin: 30px 20px 0 20px;
    align-items: center;
}

.certifications a {
    text-decoration: none;
}

.certifications img {
    height: 150px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 15px;
}

.certifications p {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

#cocurriculars {
    grid-area: cocurriculars;
}

.cocurriculars div {
    display: none;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
}

.cocurriculars .proofs {
    margin: 30px 20px 0 20px;
    align-items: center;
}

.cocurriculars a {
    text-decoration: none;
}

.cocurriculars img {
    height: 150px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 15px;
}

.cocurriculars p {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

#achievements {
    grid-area: achievements;
}

.achievements div {
    display: none;
}

#hobbies {
    grid-area: hobbies;
}

.hobbies div {
    display: none;
    padding: 25px 10vw;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 15px;
    grid-column-gap: 4vw;
}


.hobbies .text {}

#languages {
    grid-area: languages;
}

.languages div {
    display: none;
    padding: 25px 10vw;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 15px;
    grid-column-gap: 4vw;
}


.languages progress {
    margin: 0 0 0 25px;
}

#profiles {
    grid-area: profiles;
}

.profiles div {
    display: none;
    padding: 25px 10vw;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 15px;
    grid-column-gap: 4vw;
}

.profiles a {
    text-decoration: none;
    color: black;
}

.profiles i,
svg {
    margin: 0 10px 0 0;
    height: 24px;
    width: 24px;
}

.profiles .fa-linkedin {
    color: rgb(0, 119, 181);
}

.profiles .fa-github {
    color: #171515;
}

.profiles .fa-twitter {
    color: #1DA1F2;
}

.profiles .fa-instagram {
    color: #C13584;
}

.profiles .fa-facebook {
    color: #4267B2;
}

.profiles .iconify {
    color: rgb(67, 67, 67);
}

.profiles .fa-youtube-play {
    color: red;
}

@media only screen and (max-width: 700px) {
    .nav {
        display: none;
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading img {
        display: block;
        margin: auto;
    }

    .heading .top {
        text-align: center;
    }

    .content div {
        grid-template-columns: repeat(1, auto);
    }

    .certifications div,
    .cocurriculars div {
        grid-template-columns: repeat(2, auto);
    }

    .toggle-navbar {
        display: none;
    }

    .content h1 {
        top: 50px;
    }

    .cocurriculars div {
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }

    .certifications div {
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }

    .certifications img {
        height: 120px;
        width: 175px;
    }

    .cocurriculars img {
        height: 120px;
        width: 175px;
    }

    .trainings img {
        width: 250px;
        height: 200px;
    }

    .trainings p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 700px) {
    .togglenav {
        display: none;
    }
}